---
const { title, description, image, publishedAt, url } = Astro.props;

const formatDate = (dateString: string): string => {
  const options: Intl.DateTimeFormatOptions = { year: "numeric", month: "long", day: "numeric" };
  return new Date(dateString).toLocaleDateString(undefined, options);
};
---

<section>
  <div class="article-card max-w-xs flex flex-col items-center gap-4 border border-default bg-offset rounded-lg">
    <a href={url} target="_blank">
      <img src={image} alt={title} class="article-card__image" />
      <div class="article-card__content p-2">
        <h3 class="article-card__title">
          <span>{title}</span>
        </h3>
        <p class="article-card__description">{description}</p>
        <p class="article-card__date">Published on {formatDate(publishedAt)}</p>
      </div>
    </a>
  </div>
</section>

<style>
    .article-card {
        width: 350px;
        height: 320px;
        overflow: hidden;
        transition: transform 0.3s;
    }

    .article-card:hover {
        transform: translateY(-5px);
    }

    .article-card__title {
        font-size: 1.25rem;
        margin: 0;
    }

    .article-card__image {
        width: 100%;
        height: 50%;
        object-fit: cover;
    }

    .article-card__description {
        font-size: 0.9rem;
        color: var(--color-article);
        margin: 10px 0;
    }

    .article-card__date {
        font-size: 0.8rem;
        color: var(--color-text-offset);
    }
</style>
