---
import { getCollection } from "astro:content";
import "~/styles/index.css";
import Splash from "~/components/content/Splash.astro";
import Header from "~/components/layout/Header.astro";
import Head from "~/components/layout/Head.astro";
import Footer from "~/components/layout/Footer.astro";
import Buttom from "~/components/ui/Buttom.astro";

export async function getStaticPaths() {
  const projects = await getCollection("portfolio");
  return projects.map((project) => ({
    params: { slug: project.data.slug },
  }));
}

const projects = await getCollection("portfolio");
const { slug } = Astro.params;

const project = projects.find((item) => item.data.slug === slug);

if (!project) {
  return Astro.redirect("/404");
}

const { title, description, technologies, url, github, image } = project.data;
---
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
<Head title="Erick's Projects" description="Welcome to my Projects! My name is Erick Vasquez." />

<body class="h-full overflow-x-hidden text-base bg-default text-default selection:bg-secondary selection:text-white">

<Header />

<Splash splashTitle={title} ref={`#${slug}-id`} />

<div class="px-8 py-32 space-y-24">
  <div id={`${slug}-id`} class="space-y-12">

    <div class="relative w-full max-w-4xl mx-auto overflow-hidden rounded-lg group article__card">
      <img
        src={image}
        alt={`Screenshot of ${title}`}
        class="w-full h-96 object-cover rounded-lg transition-transform duration-300 ease-in-out group-hover:scale-105"
      />
    </div>

    <div class="text-center space-y-4">
      <p class="text-lg">{description}</p>
    </div>

    <div class="text-center">
      <p class="text-lg text-article">Technologies: <span class="text-primary font-medium">{technologies}</span></p>
    </div>

    <div class="flex justify-center gap-6">
      {url && url !== "N/A" && (
        <Buttom title="Visit Web" icon="mdi:web" target="_blank" ref={url}></Buttom>
      )}
      {github && github !== "N/A" && (
        <Buttom title="GitHub" icon="mdi:github" target="_blank" ref={github}></Buttom>
      )}
    </div>
  </div>
</div>

<Footer />
</body>
</html>
